VITE_USE_REAL_ACCOUNT_API=true
VITE_ACCOUNT_API_PROXY_TARGET=http://127.0.0.1:3000
VITE_USE_REAL_PRODUCT_API=true
VITE_PRODUCT_API_PROXY_TARGET=http://127.0.0.1:3000
VITE_USE_REAL_STRATEGY_API=true
VITE_STRATEGY_API_PROXY_TARGET=http://127.0.0.1:3000
